/* CashRegister.css */
.cash-register {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    box-shadow: 2px 2px 4px #888888;
  }

  h1 {
    color: #333;
  }

  h2 {
    font-size: 17px;
    color: salmon;
    font-style: italic;
  }

  p {
    font-size: 19px;
    font-weight: bold ;
  }

  .register-status {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

/* cadeblue for the button bg.. */
  button {
    padding: 5px 10px;
    background-color:cadetblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }


/* el hove que sea color salmon */
  button:hover {
    background-color: salmon;
  }

  .change {
    margin-top: 20px;
  }

  input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
